<div class="boxArma">
  <div class="boxImgDesc">
    <div class="boxImg">
      <img class="imgArma" src="../../../assets/armas/{{ arma.img }}" alt="Imagen del arma">
    </div>
    <div class="boxDescCarac">
      <h1>{{ arma.nombre }}</h1>

      <p>{{ arma.desc }}</p>

      <div class="carac">
        <div class="column1">
          <b>Precio</b>{{ arma.precio }}
          <b>Cargador</b>{{ arma.cargador }}
        </div>
        <div class="column2">
          <b>Potencia</b>{{ arma.potencia }}
          <b>Especial</b>{{ arma.especial }}
        </div>
      </div>
    </div>
  </div>
</div>
